<% if comic.bookmarked_by?(current_user) %>
 <%= link_to  comic_bookmark_path(comic), method: :delete do %>
 <span class="glyphicon glyphicon-book comic-bookmarks" aria-hidden="true" style="color: #dc143c;">
   <%= comic.bookmarks.count %>
 </span>
 <% end %>
<% else %>
 <%= link_to  comic_bookmarks_path(comic), method: :post do %>
 <span class="glyphicon glyphicon-book comic-bookmarks" aria-hidden="true">
 	<%= comic.bookmarks.count %>

 </span>
 <% end %>
<% end %>