 <% if comic.cliped_by?(current_user) %>
   <%= link_to comic_clip_path(comic), method: :delete do %>
   <span class="glyphicon glyphicon-eye-open comic-clips" aria-hidden="true" style="color: #ff6347;">
   	<%= comic.clips.count %>
   </span>
   <% end %>
 <% else %>
   <%= link_to comic_clips_path(comic), method: :post do %>
   <span class="glyphicon glyphicon-eye-open comic-clips" aria-hidden="true">
   	<%= comic.clips.count %>
   </span>
   <% end %>
 <% end %>