<div class="col-xs-2 col-xs-offset-8">
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render "users/unfollow" %>
    <% else %>
      <%= render "users/follow" %>
    <% end %>
  </div>
</div>