<div class="container">
	<div class="row">
		<table class="table table-hover col-xs-10">
			<% @user.following.each do |user| %>
		     <tr>
		       <td>
		       	<%= link_to user_path(user) do %>
		       	 <%= attachment_image_tag user,:profile_image, :fill, 40, 40, format: 'jpeg',fallback: "no_image_icon.jpg", size:'40x40', class: "img-circle" %>
		       	<% end %>
		       	</td>
		       <td><%= user.username %></td>
		       <td><%= truncate(user.caption) %></td>
		     </tr>
		    <% end %>
		</table>
	</div>
</div>