<div class="container">
	<div class="row">
		<p class="text-center"><%= t('.Are you sure?') %></p>
		<p class="text-center"><%= t('.If you are withdraw, you lose all date') %></p>

		<div class="col-xs-6 col-xs-offset-4">
		<%= link_to t('.Not withdraw'),edit_user_path(current_user),  class: "btn btn-primary col-xs-4" %>
        <%= link_to t('.Withdraw'), hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger col-xs-4" %>
    	</div>
	</div>
</div>