/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty.css
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.bg-color {
	font-family: 'Righteous', cursive,'Kosugi', sans-serif;
}

.navbar-brand{
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	color: #ff6347;
}

.navbar-brand{
	color: #ff6347;
}

.nav-size{
	font-size: 20px;
}

a {
	color: #000000;
}

a:hover{
    color: #ff6347;
    text-decoration: underline;
}

.main-visual{
	background-color: #000000;
	color: #ffffff;
	width: 90%;
	height: 250px;
}

.top-message{
	font-size: 80px;
	font-family: 'Anton', sans-serif;
	padding-left: 5px;
}

.sub-message{
	font-size: 40px;
	font-family: 'Flamenco', cursive;
	font-style: italic;
	text-align: right;
	padding-right: 30px;
}

.menu-title{
	background-color: #333333;
	color: #ffffff;
	margin-left: 50px;
}

.top-menu{
	margin-left: 50px;
	height: 150px;
}

.menu-title2{
	background-color: #333333;
	color: #ffffff;
	margin-left: 50px;
}

.top-menu2{
	margin-left: 50px;
}

footer {
	text-align: center;
}

#top-back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  font-size: 50px;
}