// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comic-bookmarks{
	font-size: 16px;
	background-color: #f5f5f5;
	padding: 2px;
}

.comic-clips{
	font-size: 16px;
	background-color: #f5f5f5;
	padding: 2px;
}

.comic-comments{
	font-size: 16px;
	background-color: #f5f5f5;
	padding: 2px;
}