// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comic-bookmarks{
	font-size: 16px;
	color: #696969;
	padding: 2px;
}

.comic-clips{
	font-size: 16px;
	color: #696969;
	padding: 2px;
}

.comic-comments{
	font-size: 16px;
	color: #696969;
	padding: 2px;
}

.header-about{
	width:100%;
	background-color: #ECEFF1;
	text-align: center;
	height: auto;
}

.home-title{
	font-size: 80px;
	color: #ff6347;
	padding-top: 70px;
}

.about-text {
	padding-bottom: 70px;
}

.function-explanation{
	text-align: center;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.function-title{
	font-size: 50px;
	padding-top: 20px;
}

.function{
	display: inline-block;
	width: 40%;
	height: 150px;
	margin: 10px;
}

.icon-explanation{
	margin-top: 10px;
	background-color: #ECEFF1;
	text-align: center;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.icon-headline{
	font-size: 50px;
	color: #ff6347;
	margin-left: 10px;
	padding-top: 10px;
}

.icon-text{
	padding-top: 20px;
	margin-left: 20px;
	width: 20%;
	display: inline-block;
}

.icon-image{
	font-size: 50px;
}

.icon-subtext{
	font-size: 25px;
}

.foot {
	text-align: center;
	margin-top: 100px;
	height: 200px;
}

.foot-text{
	font-size: 80px;
}

.foot-text-strong{
	color: #ff6347;
	font-size: 80px;
}